<div
  class="flex flex-col text-xs mx-1 p-3 rounded-xl shadow-lg my-10 corFundoComponentes lg:h-[85vh] lg:w-[70vw]"
>
  <!-- H1 fixo no topo -->
  <div>
    <h1 class="font-extrabold text-xl lg:text-3xl">FORMATADOR</h1>
  </div>

  <!-- Conteúdo centralizado em lg -->
  <div class="flex flex-2 flex-row gap-4 my-2 mx-1 g:items-center lg:justify-center">
    <textarea name="" id="" class="bg-white h-[60vh] w-full rounded-lg"></textarea>
    <textarea name="" id="" class="bg-white h-[60vh] w-full rounded-lg"></textarea>
  </div>

  <div class="mb-5 text-center">
    <button
      class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-6 lg:py-3 lg:px-8 rounded-md transition lg:text-lg"
    >
      Formatar
    </button>
  </div>
</div>
